body {
    font-family: 'Montserrat', sans-serif;
}
.navClass .navbar-brand img.logo {
    width: 200px;
}
nav.navClass {
 
    padding-top: 30px !important
}
header .nav-link {
    color: white !important;
}
header .nav-link.active {
/*    color: #FFBD59 !important;*/
}
header .nav-link:hover {
/*    color: #FFBD59 !important;*/
    color: black !important;
}
